<div class="container jumbotron">
	<div class="calc-container center-block">
		<div>
			{{cl.result}}
		</div>
		<input type="text" ng-model="cl.typedExpression"/>

		<table class="table">
			<tbody>

				<tr ng-repeat="numberRow in cl.numbers track by $index">
					<td ng-repeat="number in numberRow track by $index" ng-click="cl.pressKey(number)">
						{{number}}
					</td>
				</tr>
				<tr class="active" ng-repeat="operant in cl.operants track by $index" >
					<td ng-repeat="oper in operant track by $index" ng-click="cl.pressOperant(oper)">
						{{oper}}
					</td>
				</tr>
			</tbody>
			<button type="button" name="button" class="btn" ng-click="cl.calculate()"> = </button>
		</table>
	</div>
 </div>
